<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="escritor">Escritor</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input placeholder="Escribe tu nombre" name="escritor" type="escritor" id="escritor">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="mensaje">Mensaje</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input placeholder="Escribe lo que quieras " name="mensaje" type="mensaje" id="mensaje">
    </nz-form-control>
  </nz-form-item>
</form>